
/* style for footer section */
.footerCover{
  background-color: #0E1D3A;
  padding: 57px 0px;
}
.footerLink h4{
  color: whitesmoke;
  font-weight: bold;
}
.footerLink{
  text-align: start;
}
.footerLink p{
  color: whitesmoke;
  margin: 0;
  margin-top: 5px;
}

.copyright{
  text-align: start;
  color: #9798B4;
}